absl-py
astor
cycler
gast
grpcio
h5py
joblib
Keras
Keras-Applications
Keras-Preprocessing
keras-resnet
kiwisolver
Markdown
matplotlib
mock
numpy
Pillow
protobuf
pyparsing
python-dateutil
PyYAML
scikit-learn
scipy
six
sklearn
tensorboard==1.13.1
tensorflow==1.15
tensorflow-estimator==1.13.0
termcolor
torch
torchvision
Werkzeug
numba
